*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*titulo*/
header div h1 {
    color: rgb(177, 143, 30);
    font-weight: 700;
    text-align: center;
    background-image: url(../img/img5.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    height: 200px;
}
/*menu*/
header nav ul li {
    display: flex;
    justify-content: space-around;
    background-color: rgb(138, 132, 116);
}
header nav ul li a{
    color: black;
    text-decoration: none;
    padding: 25px;
    border: solid 2px rgb(201, 161, 30);
    margin: 1px 3px 1px 3px;
}
li a:hover{
    background-color: rgb(253, 0, 0);
}
/*principal*/
header div h2 {
    color: rgb(153, 84, 5);
    font-weight: 100;
}
header div h4 {
    color: rgb(202, 151, 102);
}
/*fondo*/
body{
    background-color: rgb(0, 0, 0);
}
/*contacto*/
#staff {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(190, 129, 38);
}
header div h3 {
    color: rgb(190, 129, 38);
}
p {
    color: rgb(255, 255, 255);
}
/*cuenta*/
.recuadro1 {
    height: 280px;
    width: 50%;
    text-align: center;
}
legend {
    color: rgb(153, 84, 5);
}
#registro1{
    color: rgb(190, 129, 38);
}
/*descargas*/
.recuadro {
    height: 180px;
    width: 50%;
    text-align: center;
}
#descarga1{
    color: rgb(190, 129, 38);
}
/*informacion*/
header div h5{
    color: rgb(190, 129, 38);
}
/*conversor*/
@media (max-width: 480px){
    header nav ul li{
        flex-direction: column;
        background-color: rgb(138, 132, 116);
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header nav ul li a{
        padding: 0;
        margin: 0;
        height: 25px;
        border: 1;
        margin: 5px 5px;
        text-align: center;
    }
}